@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

html[data-theme='light'] {
	--color-dark: rgb(47, 47, 47);
	--color-primary2: rgb(19, 19, 19);
	--color-input: rgb(246, 246, 246);
	--color-panel: rgba(255, 255, 255, 1);
	--color-gray: rgb(218, 218, 218);
	--color-gray2: rgb(121, 121, 121);
	--color-skeleton: rgb(223, 223, 223);
	--color-text: #131313;
}

html[data-theme='dark'] {
	--color-panel: #131313;
	--color-text: #ffffff;
	--color-input: rgb(52, 52, 52);
	--color-primary2: rgb(53, 53, 53);
	--color-gray: rgb(114, 114, 114);
	--color-gray2: rgb(183, 183, 183);
	--color-skeleton: rgb(96, 96, 96);
}

:root {
	--color-panel-static: rgba(255, 255, 255, 1);
	--color-dark: rgb(47, 47, 47);
	--color-primary2: rgb(19, 19, 19);
	--color-input: rgb(246, 246, 246);
	--color-panel: rgba(255, 255, 255, 1);
	--color-gray: rgb(218, 218, 218);
	--color-gray2: rgb(121, 121, 121);
	--color-skeleton: rgb(223, 223, 223);

	--color-blue: rgb(66, 132, 247);
	--color-orange: rgb(255, 140, 102);
	--color-soft-blue: rgb(86, 194, 230);
	--color-light-red: rgb(255, 92, 124);
	--color-lime-green: rgb(74, 207, 129);
	--color-violet: rgb(117, 54, 211);
	--color-soft-orange: rgb(241, 198, 91);

	--border-radius: 10px;

	--base-ff: Inter, Manrope, sans-serif;
	--base-rubik: 'Manrope', sans-serif;
	--monospace-ff: 'JetBrains Mono', monospace;

	--typography-header1: 2.4rem;
	--typography-header2: 1.7rem;
	--typography-header3: 1.5rem;
	--typography-header4: 1.3rem;
	--typography-header5: 1rem;
	--typography-header6: 0.9rem;
	--typography-body: 1rem;
	--typography-button: 1rem;
	--typography-small: 0.9rem;
}
