.dashboard__item {
	width: 100%;
	padding-top: 2.15rem;
	background-color: var(--color-gray2);
	border-radius: var(--border-radius);
	min-width: 200px;
	background-repeat: no-repeat;
	background-position: 92% -8%;

	& .tracking-card {
		background-color: var(--color-panel);
		border-radius: var(--border-radius);
		padding: 1.25rem;
		margin-top: 2px;

		&__header,
		&__body {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__body {
			margin-top: 10px;
		}

		&__menu {
			cursor: pointer;
		}

		&__title {
			margin: 0;
			font-weight: 600;
			font-size: var(--typography-body);
		}

		&__time {
			font-size: var(--typography-header2);
			font-weight: 300;
		}

		&__prev-previous {
			font-size: var(--typography-small);
			font-weight: 400;
			color: var(--color-gray2);
		}
	}
}

@media (min-width: 1024px) {
	.dashboard__item {
		.tracking-card {
			&__body {
				flex-direction: column;
				align-items: flex-start;
			}
			&__time {
				margin-bottom: 0.5rem;
			}
			&__header {
				margin-bottom: 0.75rem;
			}
		}
	}
}
