.dashboard {
	min-height: 100vh;
	padding: 4rem 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content {
	width: 100%;
	max-width: 900px;
	display: grid;
	gap: 1.5rem;
	justify-content: center;
	grid-template-columns: repeat(1, minmax(300px, 330px));
}

@media (min-width: 1024px) {
	.content {
		grid-template-columns: repeat(4, 1fr);
	}
}
