.sidebar {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	min-width: 300px;
	max-width: 330px;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
}

@media (min-width: 767px) {
	.sidebar {
		max-width: calc(504px + 1.5rem);
		// padding: ;
	}
}
@media (min-width: 1024px) {
	.sidebar {
		max-width: 300px;
		// padding: 0 3rem;
	}
}
